<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <div class="sellerrefund" th.fragment="fragment">
        <h1>정보수정</h1>
        <span>회사이름</span><input type="text"><br>
        <span>전화번호</span><input type="text"><br>
        <span>Email</span><input type="text"><br>
        <span>비밀번호</span><input type="text"><br>
        <span>비밀번호확인</span><input type="text"><br>
        
        <span></span><input type="text"><br>
        <span></span><input type="text"><br>
        <span></span><input type="text"><br>      
    </div>
    
</body>
</html>