<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/sellerMypage.css}" />
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script defer src="/js/sellerMypage.js"></script>   
</head>
<body>   
    <div class="sellerMypage" th:fragment="fragment">
       
        <section th:replace="~{/sellerMypage/sellerSection::fragment}"/> 
                
    </div>
    
</body>
</html>