<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>centerMain-FAQ</title>
  <link rel="stylesheet" href="/css/center.css">
  <script defer src="/js/center.js"></script>

</head>

<body>
  <div class="sectionBack">
    <div class="centerSectionB">
      <aside th:replace="~{/customerCenter/centerAside::fragment}" />
      <section th:replace="~{/customerCenter/centerSection::fragment}" />
    </div>
  </div>
</body>

</html>