<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>noticeRegister</title>

</head>

<body>
    <div>
        <div class="sectionTitle">공지사항</div>
        <div class="sectionContentR">
            <div class="form-group ">
                <label class="col-form-label mt-4" for="inputDefault">제목</label>
                <input type="text" class="form-control nSub" placeholder="제목을 입력하세요" id="inputDefault" maxlength="100">
            </div>
            <div class="form-group fga">
                <label for="exampleTextarea" class="form-label mt-4">내용</label>
                <textarea class="notice_ta nDoc form-control" id="exampleTextarea" placeholder="공지사항"></textarea>
            </div>
            <button type="button" id="centerBtn" class="noticeRegisterBtn btn btn-outline-secondary "
                th:if="${session.id ne null and session.auth == 0}">등록</button>
        </div>
    </div>
</body>

</html>