<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>boardAside</title>
</head>
<body>
    <Aside class="boardAside" th:fragment="fragment">
        <div>
            <div class="asideTitle">
                게시판
            </div>
            <div class="boardAsideBtn">
              <button type="button" class="freeBtn">자유 게시판</button><br/>
              <button type="button" class="reviewBtn">후기 게시판</button>
            </div>
        </div>
    </Aside>
</body>
</html>