<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>faqView</title>

</head>

<body>
    <form id="faqViewForm">
        <div class="sectionTitle">
            자주 묻는 질문
        </div>
        <div class="sectionContentV">
            <div id="centerbox" class="card mb-3">
                <div class="FAQ_title card-header custom-card-header" id="centerTitle" th:text="${fqv.subject}"></div>
                <div class="card-body custom-card-body">
                    <p class="FAQ_content card-text line-break" id="centerContent" th:text="${fqv.doc}"></p>
                </div>
            </div>
            <div id="centerBtn">
                <button type="button" th:if="${session.id ne null and session.auth == 0}" class="faqModify btn btn-outline-secondary">수정</button>
                <button type="button" th:if="${session.id ne null and session.auth == 0}" class="faqDel btn btn-outline-secondary">삭제</button>
                <button type="button" class="FAQBtn btn btn-outline-secondary">목록</button>
            </div>
        </div>
        <input type="hidden" th:value="${fqv.sno}" class="fqv_sno">
    </form>



</body>

</html>