<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    
</head>
<body>        
    <div class="customerSection" th:fragment="fragment">  
        
        <div class="customerMypage_header"><!--상단틀-->
                
        </div>
       
            
        <div class="customerMypage_wrap"> <!--중단틀-->

            <div class="customerMypage_left_wrap"><!--중단왼쪽-->

                <div class="customerMypage_left_title">
                    마이페이지
                </div>
        
                <ul>
                    <li class="customerMypage_left_sub">
                        <span id="ticketView" class="customerMypage_left_sub">예매내역</span>
                    </li>
        
                    <li class="customerMypage_left_sub">
                        <span id="refundView" class="customerMypage_left_sub">취소/환불내역</span>
                    </li>

                    <li class="customerMypage_left_sub">
                        <span id="myBoard" class="customerMypage_left_sub">내 게시물</span>
                    </li>
        
                    <li class="customerMypage_left_sub">
                        <span id="myReview" class="customerMypage_left_sub">내 후기</span>
                    </li>
                </ul>
        
                <ul>
                    <li class="customerMypage_left_sub">
                        <span id="modify" class="customerMypage_left_sub">회원정보 수정</span>
                    </li>
                </ul>
        
                <ul>
                    <li class="customerMypage_left_sub">
                        <span id="noticeBtn" class="customerMypage_left_sub">공지사항</span>
                    </li>
        
                    <li class="customerMypage_left_sub">
                        <span id="FAQBtn" class="customerMypage_left_sub">자주묻는질문</span>
                    </li>
        
                    <li class="customerMypage_left_sub">
                        <span id="inquriyBtn" class="customerMypage_left_sub">1:1문의</span>
                    </li>
                </ul>
            </div><!--중단왼쪽-->

            <div class="customerMypage_right_wrap"><!--중단 오른쪽-->
                
            </div>
                    
            
        </div>

       

    </div>

</body>
</html>