<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/customerMypage.css">
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script defer src="/js/customerMypage.js"></script> 
    
    <link rel="stylesheet" href="/css/board.css">
     
</head>
<body>   
    <div class="customerMypage" th:fragment="fragment">
       
        <section th:replace="~{/customerMypage/customerSection::fragment}"/> 
                
    </div>
    
</body>
</html>