<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>        
    <div class="customerTicketView" th:fragment="fragment">
        <div id="reviewBoard">
            <h1>후기 게시물</h1>
            <form name="frmReview" class="frmReview" method="post">
                <input type="hidden" name="id" value="${sessionScope.id}">                        
                <input type="hidden" name="nowPage" th:value="${page2.nowPage}"/>
                <input type="hidden" name="sno"/>
            </form>

            <div class="reviewList">
                <div class="title">
                    <span class="sno">SNO</span>
                    <span class="subject">제목</span>
                    <span class="id">작성자</span>
                    <span class="nal">작성일</span>               
                </div>

                <div class="items" >
                    <div class="item" th:each="r:${list}" th:onclick="reviewView([[${r.sno}]])">
                        <span class="sno" th:text="${r.sno}">1</span>
                        <span class="subject" th:text="${r.subject}">아임 프리!</span>
                        <span class="id" th:text="${r.id}">김종국</span>
                        <span class="nal" th:text="${r.nal}">2023-08-04</span>                    
                    </div>
                </div>
            </div>

            <div class="page2">
                <th:block th:if="${page2.startPage gt 1}">
                    <button type="button" class="btnFirst" value="1" onclick="move2(this.value)">처음</button>
                    <button type="button" class="btnPrev" th:value="${page2.startPage-1}" onclick="move2(this.value)">이전</button>
                </th:block>

                <th:block th:each="m : ${#numbers.sequence(page2.startPage, page2.endPage, 1)}">
                    <button type="button" class="btnNum" 
                            th:class="${page2.nowPage eq m}? 'now' : 'btnNum'" 
                            onclick="move2(this.value)" th:text="${m}" th:value="${m}"/>
                </th:block>

                <th:block th:if="${page2.endPage lt page2.totPage}">
                    <button type="button" class="btnNext" 
                            th:value="${page2.endPage+1}" onclick="move2(this.value)">다음</button>
                    <button type="button" class="btnLast" 
                            th:value="${page2.totPage}" onclick="move2(this.value)">맨끝</button>
                </th:block>
            </div>  
        </div>      
    </div>

</body>
</html>