<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reviewRepl</title>
</head>
<body>
    <div id="reviewRepl" th:fragment="fragment">
        <form name="frmReviewRepl" class="frmReviewRepl" method="post">
            <output name="id">[[${session.id}]]</output><br/>
            <textarea name="doc" class="doc" rows="5" placeholder="댓글을 남겨보세요"></textarea>
            <button type="button" class="btnReviewRepl" th:if="${session.id ne null}">댓글 등록</button>

            <input type="hidden" name="id" th:value="${session.id}"/>
            <input type="hidden" name="sno" th:value="${vo.sno}"/>
            <input type="hidden" name="grp" th:value="${vo.grp}"/>
            <input type="hidden" name="nal" th:value="${vo.nal}"/>
        </form>
    </div>
</body>
</html>